---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { STORIES } from "@consts";

const data = (await getCollection("stories"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

type Acc = {
  [year: string]: CollectionEntry<"stories">[];
};

const posts = data.reduce((acc: Acc, post) => {
  const year = post.data.date.getFullYear().toString();
  if (!acc[year]) {
    acc[year] = [];
  }
  acc[year].push(post);
  return acc;
}, {});

const years = Object.keys(posts).sort((a, b) => parseInt(b) - parseInt(a));
---

<Layout title={STORIES.TITLE} description={STORIES.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="stories-container">
        <div class="stories-years-container">
          {
            years.map((year) => (
              <section class="animate stories-year-section">
                <div class="stories-year-heading">
                  {year}
                </div>
                <ul class="story-grid">
                  {posts[year].map((post) => (
                    <li class="story-item">
                      <a href={`/${post.collection}/${post.id}`} class="story-link">
                        <div class="story-item-container">
                          <div class="story-item-header">
                            <h3 class="story-item-title">{post.data.title}</h3>
                            <div class="story-item-date">
                              {new Date(post.data.date).toLocaleDateString("en-UK", {
                                month: "short",
                                day: "numeric",
                                year: "numeric"
                              })}
                            </div>
                          </div>
                          {post.data.description && (
                            <p class="story-item-description">{post.data.description}</p>
                          )}
                        </div>
                      </a>
                    </li>
                  ))}
                </ul>
              </section>
            ))
          }
        </div>
      </div>
    </aside>
  </Container>
</Layout>
